.main {
    margin:auto;
    width: 80%;
}

.main > h3 {
    font-weight: 700;
    margin-top:5px;
}

#selectFilter {
    width: 100px;
}

#notes {
    display: flex;
    flex-wrap: wrap;
}

.note{
    margin: 5px;
    height: 40%;
}